SEPOLIA_RPC_URL=
BAZANTIC_GATEWAY_URL=https://saviours.bazgateway.com
PUBLIC_APP_URL=https://www.saviours.xyz
# AGENT_WORKLIST=0x935bfb495e33f74d2e9735df1da66ace442ede48,0x352423e2fa5d5c99343d371c9e3bc56c87723cc7
# AGENT_NAME=trader-07.live-agent
